.container{
  margin: 200px auto;
  width: 1000px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 17px;
}
.card{
  border: 1px solid lightgrey;
  text-align: center;
  width: 250px; 
}
img{
  width: 230px;
  height: 300px;
}
button {
  background-color: green;
  color: white;
  font-size: 16px;
  width: 220px;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  border:none;
}
.lower{
  border-top: 1px solid lightgrey;
  background-color: rgb(240, 238, 238);
  text-align: left;
  padding: 7px 15px;
  display: flex;
  justify-content: space-between;
}
.clear-btn {
  width:80px;
  padding: 5px;
}